/* Estilos base */
.contenido {
  width: 90%;
  padding: 2% 5%;
}

.contenido h1 {
  text-align: center;
  margin: 2% 0;
  font-size: 42px;
}

.contenido p {
  margin: 2% 0;
  font-size: 30px;
  text-align: justify;
}

/* RESPONSIVE */
@media only screen and (max-width: 360px) {
  .contenido {
    width: 95%;
    padding: 0 2.5%;
  }

  .contenido h1 {
    font-size: 30px;
  }

  .contenido p {
    font-size: 12px;
    text-align: justify;
    margin: 5% 0;
  }
}
