* {
  margin: 0;
  padding: 0;
}
/*estilo del menu*/
.cabecera2 {
  display: none;
}
.cabecera {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 3;
}

.cabecera .logo {
  width: 20%;
  height: 100%;
  float: left;
  text-align: end;
}
.cabecera .logo img {
  width: 50%;
  height: 100%;
}
.cabecera .logo h2 {
  color: rgb(255, 255, 255);
  line-height: 100px;
  float: right;
}
.cabecera .menu {
  width: 60%;
  float: left;
  height: 100%;
}

.cabecera .menu ul {
  width: 90%;
  float: right;
  text-align: center;
}
.cabecera .menu ul li {
  width: 20%;
  height: 100%;
  float: left;
  list-style: none;
  font-size: 20px;
  line-height: 100px;
}
.cabecera .menu ul li a {
  color: white;
  text-decoration: none;
  padding-top: 39.2px;
  padding-bottom: 39.2px;
}
.cabecera .menu_logo {
  width: 20%;
  float: left;
  height: 100%;
}
.cabecera .menu_logo img {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  padding-right: 40px;
}
.cabecera .c_cabecera {
  width: 100%;
  position: fixed;
  height: 100px;
}
.cabecera .c_cabecera:hover {
  transition: 0.5s;
  background-color: #000000;
}
.cabecera .menu ul li:hover {
  background-color: #ffffff;
  cursor: pointer;
}
.cabecera .menu ul li:hover a {
  color: #000000;
}
/*estilo usuario*/
.btn_iniciar {
  float: left;
  overflow: hidden;
}
.btn_iniciar .contenido_btniniciar {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 3;
}
.btn_iniciar .contenido_btniniciar a {
  float: none;
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.btn_iniciar .contenido_btniniciar a:hover {
  background-color: #000000;
  color: #ffffff;
}
.btn_iniciar:hover .contenido_btniniciar {
  display: block;
}
/*Estilo Pie*/
.pie {
  width: 95%;
  padding: 2.5%;
  background-color: rgb(0, 0, 0);
  overflow: auto;
}
.pie .titulo {
  padding-top: 10px;
  width: 50%;
  float: left;
}
.pie .titulo h3 {
  color: rgb(255, 255, 255);
}
.pie .submenu {
  padding-top: 10px;
  width: 50%;
  float: right;
}
.pie .submenu ul {
  list-style: none;
  float: right;
}
.pie .submenu ul li {
  float: left;
  padding-right: 50px;
}
.pie .submenu ul li img {
  width: 30px;
  height: 30px;
}
.pie .derecho {
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  clear: both;
}

/*estilo del banner*/
.banner2 {
  display: none;
}
.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.banner .activo {
  opacity: 1;
}
.txt_banner {
  width: 50%;
  padding: 25%;
  padding-top: 0;
  padding-bottom: 0;
  transform: translateY(-400px);
  text-align: center;
}
.txt_banner h1 {
  color: #ffffff;
}
.btn_banner {
  width: 100%;
  text-align: center;
  transform: translateY(-350px);
}
.btn_banner a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
}
.btn_banner a:hover {
  background-color: #ffffff;
  color: #000000;
}
/*MODAL*/
@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY();
  }
  100% {
    transform: translateY(-100%);
  }
}
dialog {
  width: 600px;
  height: 560px;
  background-color: #ffffff;
  border: 10px solid #000000;
  top: 1%;
  left: 30%;
  animation: slideIn 0.5s ease;
  position: fixed;
  overflow: hidden;
}
dialog.closing {
  animation: slideOut 0.5s ease; /* Animación de desaparición */
}
dialog[open] {
  display: block;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}
dialog .modal_img {
  width: 100%;
  height: 100%;
  position: relative;
}
dialog .modal_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal_img .txt {
  width: 80%;
  padding: 5%;
  margin: 5%;
  transform: translateY(-300px);
  background-color: rgba(0, 0, 0, 0.55);
  text-align: center;
}
.modal_img .txt p {
  color: #ffffff;
  font-size: 20px;
}
dialog .modal_img .btn_unete {
  width: 100%;
  transform: translateY(-280px);
  text-align: center;
}
dialog .modal_img .btn_unete a {
  background-color: #000000;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
}
dialog .modal_img .btn_salir {
  width: 100%;
  padding-top: 1%;
  text-align: end;
  position: absolute;
}
dialog .modal_img .btn_salir span {
  padding: 7px 10px;
  cursor: pointer;
}
dialog .modal_img .btn_salir span:hover {
  background-color: #ffffff;
}
dialog .modal_img .btn_unete a:hover {
  background-color: #ffffff;
  color: #000000;
}

/*estilo de productos*/
.contenedor {
  width: 100%;
}
.contenedor .contenido {
  width: 90%;
  padding: 5%;
  overflow: auto;
}
.contenedor .contenido .cont {
  width: 30.3%;
  padding: 1.5%;
  padding-top: 0;
  float: left;
}
.contenedor .contenido .cont .obj {
  width: 100%;
  position: relative;
}
.contenedor .contenido .cont .obj a img {
  width: 100%;
  background-color: #eceef0;
}
.contenedor .contenido .cont .obj .top {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;
}

/*HOVER DE IMAGENES*/
.contenedor .contenido .cont .obj .top:hover {
  opacity: 0;
}

/*ESTILO DE COTENEDOR GENERO*/
.contenedor_genero {
  width: 100%;
}
.contenedor_genero .titulo {
  text-align: center;
}
.contenedor_genero .titulo h3 {
  font-size: 30px;
}
.contenedor_genero .contenido {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  overflow: auto;
}
.contenedor_genero .contenido .cont {
  width: 46%;
  padding: 2%;
  float: left;
}
.contenedor_genero .contenido .cont .obj {
  background-color: #eceef0;
  width: 100%;
}
.contenedor_genero .contenido .cont .obj img {
  width: 100%;
}
.contenedor_genero .contenido .cont .titulo {
  width: 100%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
.contenedor_genero .contenido .cont .btn {
  text-align: center;
  width: 100%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
.contenedor_genero .contenido .cont .btn a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
}
.contenedor_genero .contenido .cont .btn a:hover {
  background-color: #e0e0e0;
  color: #000000;
}

/*RESPONSIVE*/
@media screen and (max-width: 360px) {
  dialog {
    width: 300px;
    height: 300px;
    top: 25%;
    left: 7%;
  }
  .modal_img .txt {
    width: 80%;
    transform: translateY(-160px);
  }
  .modal_img .txt p {
    color: #ffffff;
    font-size: 12px;
  }
  dialog .modal_img .btn_unete a {
    background-color: #000000;
    color: #ffffff;
    padding: 3% 20%;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
  }
  dialog .modal_img .btn_unete {
    transform: translateY(-160px);
  }
  /*MENU RESPONSIVE*/
  .cabecera {
    display: none;
  }
  .cabecera2 {
    display: block;
    width: 90%;
    padding: 2% 5%;
    height: 70px;
    position: fixed;
    z-index: 3;
    overflow: hidden;
  }
  .cabecera2 .barra {
    width: 33.3%;
    float: left;
    line-height: 80px;
  }
  .cabecera2 .barra span {
    color: #ffffff;
  }
  .cabecera2 .logo {
    width: 33.3%;
    float: left;
    text-align: center;
  }
  .cabecera2 .logo img {
    width: 80%;
  }
  .cabecera2 .menu_logo {
    width: 33.3%;
    float: left;
    text-align: end;
    line-height: 100px;
  }
  .cabecera2 .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .menu_logo img {
    width: 35px;
    height: 35px;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }
  /*BANNER RESPONSIVE*/
  .banner {
    display: none;
  }
  .banner2 {
    display: block;
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
  }

  .banner2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .banner2 .activo {
    opacity: 1;
  }
  .txt_banner {
    transform: translateY(-250px);
  }
  .btn_banner {
    transform: translateY(-200px);
  }
  /*Contenido */
  .contenedor .contenido {
    padding-top: 0;
    padding-bottom: 10%;
  }
  .contenedor .contenido .cont {
    width: 100%;
    padding: 0;
    margin-bottom: 5%;
  }
  /*Contenido por categoria*/
  .contenedor_genero .contenido .cont {
    width: 96%;
  }
  /*PIE*/
  .pie .submenu {
    width: 100%;
    float: none;
    clear: both;
    overflow: auto;
    margin: 5% 0;
  }
}
