/* Estilos base */
.contenido {
  width: 70%;
  padding: 0 15%;
}

.contenido h1 {
  text-align: center;
  margin: 4% 0;
  font-size: 42px;
}

.contenido h2 {
  margin: 2% 0;
  font-size: 33px;
  text-align: center;
}

.contenido p {
  margin: 2% 0;
  font-size: 30px;
  text-align: justify;
}

.contenido h3 {
  margin: 2% 0;
  font-size: 31px;
  text-align: center;
}

.contenido ul {
  width: 95%;
  padding: 0 2.5%;
}

.contenido ul li {
  font-size: 30px;
  margin: 1% 0;
  text-align: justify;
}

/* RESPONSIVE */
@media only screen and (max-width: 360px) {
  .contenido {
    width: 95%;
    padding: 0 2.5%;
  }
  .contenido h1 {
    font-size: 35px;
  }

  .contenido h2,
  .contenido h3,
  .contenido ul {
    text-align: center;
    font-size: 25px;
  }

  .contenido p,
  .contenido ul,
  .contenido li {
    font-size: 15px;
    text-align: justify;
  }

  .contenido ul li {
    font-size: 15px;
    text-align: justify;
  }
}
