/*barra de busqueda*/
.barra_busqueda{
  width: 95%;
  padding: 2.5%;
  text-align: center;
}
.barra_busqueda input{
  width: 97%;
  padding: 1.5%;
  border-radius: 20px;
  font-size: 20px;
}


/*estilo del submenu*/
.lista_marca {
  width: 100%;
}
.catalogo{
  width: 95%;
  padding: 2.5%;
  overflow: auto;
}

.lista_marca .marcas {
  width: 50%;
  height: 150px;
  margin-left: 25%;
}
.lista_marca .marcas ul {
  margin-left: 18%;
}
.lista_marca .marcas ul li {
  list-style: none;
  padding-right: 50px;
}
.lista_marca .marcas li {
  float: left;
}
.lista_marca .marcas li img {
  margin-top: 25px;
  width: 120px;
  height: 80px;
  border: solid rgb(0, 0, 0) 5px;
  border-radius: 50px;
}

/*Estilo de Productos*/
.catalogo .productos {
  width: 100%;
}

.catalogo .productos .contenido {
  width: 100%;
  overflow: hidden;

}
.catalogo .productos .contenido .ropa{
  width: 17%;
  padding: 0.5%;
  margin: 1%;
  float: left;
  text-align: center;
  background-color: #ECEFF0;
  border-radius: 20px;
}
.catalogo .productos .contenido .ropa:hover{
  transform: scale(1.1);
}
.catalogo .productos .contenido .ropa .obj img{
  width: 100%;
}

/*Estilo listas*/
.listas_siguientes {
  width: 100%;
}
.listas_siguientes .contenido{
  width: 20%;
  padding-top: 2.5%;
  padding-bottom: 5%;
  padding-left: 50%;
  padding-right: 30%;
  overflow: auto;
}
.listas_siguientes .contenido ul{
  width: 100%;
}
.listas_siguientes .contenido ul li{
  float: left;
  width: 20%;
  list-style: none;
}
.listas_siguientes .contenido ul li a{
  text-decoration: none;
}
.listas_siguientes .contenido .seleccion{
  font-weight: bolder;
  text-decoration: underline;
}